.container{
    display: flex;
    border: 2px dashed black;
    width: 600px;
    height: 300px;
    margin: auto;
    justify-content:space-around;
    align-items: flex-end;
   
}
/* space around,center,flex-start,flex-end,spacebetweeen */
/* .box1{
    flex-grow: 1; 
     no longer follow the justify-content: ;
} */
.box{
    box-sizing: border-box;
    background-color:  #c3dbeb;
    border: 2px solid #608BA8;
    width: 100px;
    height: 100px;

}

 .box1{
    height: 100px;
 }
 .box2{
    height: 150px;
 }
 .box3{
    height: 200px;
 }