
h1{
    font-size: 2.5em;
    color: #4CAF50;
}
p{
    font-size: 1em;
    line-height: 1.6;
}
.about-me{
    padding: 20px;
    background-color: #f9f9f9;
}
#profile-pic{
    width: 150px;
    border-radius: 50%;
}
