.block-element-default {
    display: block;
    border: 2px solid #333;
    margin-bottom: 10px;
}

.block-element-fixed {
    display: block;
    border: 2px solid #333;
    margin-bottom: 10px;
    width: 300px;
}

.inline-element-default {
    display: inline;
    border: 1px dashed #007BFF;
    padding: 5px;
}

.inline-element-fixed {
    display: inline;
    border: 1px dashed #007BFF;
    padding: 5px;
    width: 200px;
}

.inline-block-element-default {
    display: inline-block;
    padding: 5px;
    border: 1px solid #FF5733;
}

.inline-block-element-fixed {
    display: inline-block;
    padding: 5px;
    border: 1px solid #FF5733;
    width: 150px;
}