.column2,.column3{
    display: inline-block;
}
.column2{
    width: 49%;
    height: 200px;
    background-color: #f0f0f0 ;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}
.column3{
    width: 32%;
    height: 200px;
    background-color: #f0f0f0 ;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 10px;
}
.header,.footer,.main-content{
    border:2px solid black
}
.header{
    background-color:#4CAF50 ;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.footer{
    background-color:#4CAF50 ;
    height: 50px;  
    line-height: 50px;
    text-align: center;
    
}