h1{
    color: rgb(238, 56, 44);
    text-align: center;
}
body{
    background-color: rgb(204, 224, 128);
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.para{
    font-weight: bold;
    font-style: italic;
}