.container{
    max-width: 1200px;
    margin: auto;
}

.box{
    background-color: #c3dbeb;
    text-align: center;
    border: 2px solid #608BA8;
    margin-top: 20px;
    width: 300px;
    height: 200px;
    line-height: 200px;/* When the line-height is equal to the height of the element, 
                          the text aligns vertically in the middle because the space 
                          \above and below the text is distributed evenly within the element.*/
}

@media screen and (max-width: 768px){
    .box{
        background-color: #ffcccb;
        width: 50%;
    }
}

@media screen and (max-width: 480px){
    .box{
        background-color: #90ee90;
        border-radius: 15px;
    }
    h1{
        font-size: 18px;
    }
}